@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GTWalsheimPro';
    src: url('../Assets/font/GTWalsheimPro-Bold.ttf');
}
@font-face {
    font-family: 'GTWalsheimPro1';
    src: url('../Assets/font/GTWalsheimPro-Medium.ttf');
}
@font-face {
    font-family: 'GTWalsheimPro2';
    src: url('../Assets/font/GTWalsheimPro-Regular.ttf');
}
@font-face {
    font-family: 'GTWalsheimPro3';
    src: url('../Assets/font/GTWalsheimPro-Light.ttf');
}